<footer>
  <div class="grid" >
    <div class="unit one-third center-on-mobiles">
      <h5>General Information</h5>
        <ul class="menu">
          <li class="first leaf">
            <a title="" href="http://home.web.cern.ch/">CERN website</a>
          </li>
          <li class="leaf">
            <a title="" href="http://atlas.web.cern.ch/Atlas/Collaboration/">Atlas website</a>
          </li>
          <li class="last leaf">
            <a title="" href="https://www.google.ch/maps/dir//CERN,+Route+de+Meyrin+385,+1217+Meyrin/@46.232991,6.055279,17z/data=!4m12!1m3!3m2!1s0x478c62fada4752ad:0xf5d564371b2a6c5d!2sCERN!4m7!1m0!1m5!1m1!1s0x478c62fada4752ad:0xf5d564371b2a6c5d!2m2!1d6.055279!2d46.232991">How to get here?</a>
          </li>
        </ul>
    </div>
  </div>
</footer>