<footer>
  <div class="grid" >
    <div class="unit one-third center-on-mobiles">
      <h5>ATWSS, CERN & you</h5>
        <ul class="menu">
          <li class="first leaf">
            <a title="" href="/docs/people">People</a>
          </li>
          <li class="lleaf">
            <a title="" href="/docs/companies">Companies</a>
          </li>          
          <li class="leaf">
            <a title="" href="http://cern.ch/knowledgetransfer">Knowledge transfer</a>
          </li>
          <li class="last leaf">
            <a title="" href="http://cern.ch/project-voisins/">CERN's neighbours</a>
          </li>

        </ul>
    </div>

  </div>
</footer>