<!doctype html>
<html><head>


<!-- title, CSS, favicons, etc. -->
<!--page transitions -->

<!--other java scripts-->

<title>ATWSS</title>        
<link rel="shortcut icon" href="/img/favicon.png"> 
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <style type="text/css">
  </style>
          <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Creative CSS3 Animation Menus" />
        <meta name="keywords" content="menu, navigation, animation, transition, transform, rotate, css3, web design, component, icon, slide" />
        <meta name="author" content="Codrops" />


        <link rel="stylesheet" type="text/css" href="/css/style1.css" />
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />

  <script>
  $('.dropdown-toggle').dropdown();
  </script>
  <script type="text/javascript">
jQuery(document).ready(function($) {  

// site preloader -- also uncomment the div in the header and the css style for #preloader
$(window).load(function(){
  $('#preloader').fadeOut(2200,function(){$(this).remove();});
});

});
  </script>

    </style>
<script src="http://code.highcharts.com/maps/highmaps.js"></script>
<script src="http://code.highcharts.com/mapdata/index.js?1"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>
<script src="http://www.highcharts.com/samples/maps/demo/all-maps/jquery.combobox.js"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
$(function () {


    // Base path to maps
    var baseMapPath = "http://code.highcharts.com/mapdata/",
        showDataLabels = false, // Switch for data labels enabled/disabled
        mapCount = 0,
        searchText,
        mapOptions = '';

    // Populate dropdown menus and turn into jQuery UI widgets
    $.each(Highcharts.mapDataIndex, function (mapGroup, maps) {
        if (mapGroup !== "version") {
            mapOptions += '<option class="option-header">' + mapGroup + '</option>';
            $.each(maps, function (desc, path) {
                mapOptions += '<option value="' + path + '">' + desc + '</option>';
                mapCount += 1;
            });
        }
    });
    searchText = 'Search ' + mapCount + ' maps';
    mapOptions = '<option value="custom/world.js">' + searchText + '</option>' + mapOptions;
    $("#mapDropdown").append(mapOptions).combobox();

    // Change map when item selected in dropdown
    $("#mapDropdown").change(function () {
        var $selectedItem = $("option:selected", this),
            mapDesc = $selectedItem.text(),
            mapKey = this.value.slice(0, -3),
            svgPath = baseMapPath + mapKey + '.svg',
            geojsonPath = baseMapPath + mapKey + '.geo.json',
            javascriptPath = baseMapPath + this.value,
            isHeader = $selectedItem.hasClass('option-header');

        // Dim or highlight search box
        if (mapDesc === searchText || isHeader) {
            $('.custom-combobox-input').removeClass('valid');
            location.hash = '';
        } else {
            $('.custom-combobox-input').addClass('valid');
            location.hash = mapKey;
        }

        if (isHeader) {
            return false;
        }

        // Show loading
        if ($("#container").highcharts()) {
            $("#container").highcharts().showLoading('<i class="fa fa-spinner fa-spin fa-2x"></i>');
        }


        // When the map is loaded or ready from cache...
        function mapReady() {

            var mapGeoJSON = Highcharts.maps[mapKey],
                data = [],
                parent,
                match;

            // Update info box download links
            $("#download").html('<a class="button" target="_blank" href="http://www.highcharts.com/samples/maps-base.php?mapkey=' + mapKey + '">' +
                'View clean demo</a>' +
                '<div class="or-view-as">... or view as ' +
                '<a target="_blank" href="' + svgPath + '">SVG</a>, ' +
                '<a target="_blank" href="' + geojsonPath + '">GeoJSON</a>, ' +
                '<a target="_blank" href="' + javascriptPath + '">JavaScript</a>.</div>');

            // Generate non-random data for the map
            $.each(mapGeoJSON.features, function (index, feature) {
                data.push({
                    key: feature.properties['hc-key'],
                    value: index
                });
            });

            // Show arrows the first time a real map is shown
            if (mapDesc !== searchText) {
                $('.selector .prev-next').show();
                $('#sideBox').show();
            }

            // Is there a layer above this?
            match = mapKey.match(/^(countries\/[a-z]{2}\/[a-z]{2})-[a-z0-9]+-all$/);
            if (/^countries\/[a-z]{2}\/[a-z]{2}-all$/.test(mapKey)) { // country
                parent = {
                    desc: 'World',
                    key: 'custom/world'
                };
            } else if (match) { // admin1
                parent = {
                    desc: $('option[value="' + match[1] + '-all.js"]').text(),
                    key: match[1] + '-all'
                };
            }
            $('#up').html('');
            if (parent) {
                $('#up').append(
                    $('<a><i class="fa fa-angle-up"></i> ' + parent.desc + '</a>')
                        .attr({
                            title: parent.key
                        })
                        .click(function () {
                            $('#mapDropdown').val(parent.key + '.js').change();
                        })
                );
            }


            // Instantiate chart
            $("#container").highcharts('Map', {

                title: {
                    text: null
                },

                mapNavigation: {
                    enabled: true
                },

                colorAxis: {
                    min: 0,
                    stops: [
                        [0, '#EFEFFF'],
                        [0.5, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).brighten(-0.5).get()]
                    ]
                },

                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'bottom'
                },

                series: [{
                    data: data,
                    mapData: mapGeoJSON,
                    joinBy: ['hc-key', 'key'],
                    name: 'Random data',
                    states: {
                        hover: {
                            color: Highcharts.getOptions().colors[2]
                        }
                    },
                    dataLabels: {
                        enabled: showDataLabels,
                        formatter: function () {
                            return mapKey === 'custom/world' || mapKey === 'countries/us/us-all' ?
                                    (this.point.properties && this.point.properties['hc-a2']) :
                                    this.point.name;
                        }
                    },
                    point: {
                        events: {
                            // On click, look for a detailed map
                            click: function () {
                                var key = this.key;
                                $('#mapDropdown option').each(function () {
                                    if (this.value === 'countries/' + key.substr(0, 2) + '/' + key + '-all.js') {
                                        $('#mapDropdown').val(this.value).change();
                                    }
                                });
                            }
                        }
                    }
                }, {
                    type: 'mapline',
                    name: "Separators",
                    data: Highcharts.geojson(mapGeoJSON, 'mapline'),
                    nullColor: 'gray',
                    showInLegend: false,
                    enableMouseTracking: false
                }]
            });

            showDataLabels = $("#chkDataLabels").attr('checked');

        }

        // Check whether the map is already loaded, else load it and
        // then show it async
        if (Highcharts.maps[mapKey]) {
            mapReady();
        } else {
            $.getScript(javascriptPath, mapReady);
        }
    });

    // Toggle data labels - Note: Reloads map with new random data
    $("#chkDataLabels").change(function () {
        showDataLabels = $("#chkDataLabels").attr('checked');
        $("#mapDropdown").change();
    });

    // Switch to previous map on button click
    $("#btn-prev-map").click(function () {
        $("#mapDropdown option:selected").prev("option").prop("selected", true).change();
    });

    // Switch to next map on button click
    $("#btn-next-map").click(function () {
        $("#mapDropdown option:selected").next("option").prop("selected", true).change();
    });

    // Trigger change event to load map on startup
    if (location.hash) {
        $('#mapDropdown').val(location.hash.substr(1) + '.js');
    } else { // for IE9
        $($('#mapDropdown option')[0]).attr('selected', 'selected');
    }
    $('#mapDropdown').change();
});

    </script>
    <link rel="stylesheet" href="/docs/bootswatch/bootstrap-cyborg.css">
    </head>
    <div class="js">
    <body data-spy="scroll" data-target=".bs-sidebar">{% include header.html %}
    <!-- Place anything custom after this. -->
  <div id="preloader"></div>
  

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->

            <div class="content">
            <div class="row clearfix">
            <div class="col-md-12 column">
            <div class="row clearfix">
            <div class="col-md-3 column">
                <ul class="ca-menu" >
                    <li>
                        <a href="/docs/documentation">
                        <span class="ca-icon">A</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Documentation</h2>
                                <h3 class="ca-sub">All in one place</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/ghdocumentation">
                            <span class="ca-icon">H</span>
                            <div class="ca-content">
                                <h2 class="ca-main">GitHub Documentation</h2>
                                <h3 class="ca-sub">All you need to know</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/atlas">
                            <span class="ca-icon">I</span>
                            <div class="ca-content">
                                <h2 class="ca-main">More about ATLAS</h2>
                                <h3 class="ca-sub">All the facts</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/people">
                            <span class="ca-icon">U</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Sophisticated Team</h2>
                                <h3 class="ca-sub">Contact us</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/companies">
                            <span class="ca-icon">K</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Companies</h2>
                                <h3 class="ca-sub">Our associates</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- content -->
        </div>
        </div>
        </div>
</div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!-- Subhead
================================================== -->
<div class="jumbotron subhead" id="overview">

  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.lead }}</p>
  </div>
  
</div>

<div class="row">


<!--
        <div class="col col-lg-3">
          <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                 {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                 {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                 {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                 {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                 {% include nav-customize.html %}
              {% endif %}
            </ul>
          </div>
        </div>
--> 
         {{ content }}

</div>
      <!-- Quick back to top -->
<!--
      <a href="#" class="bs-top">
        Back to top
      </a>
-->


    <!-- Main docs footer (social buttons, copyright, etc). -->



<!--<div class="row clearfix">
    <div class="col-md-12 column" style="margin-left:130px;">
      <div class="row clearfix">
        <div class="col-md-4 column">
    <!-- JS and analytics only. -->
        <!--  {% include footer2.html %} 

        </div>
        <div class="col-md-4 column">

          {% include footer3.html %}
        </div>
        <div class="col-md-4 column">
        {% include footer4.html %}
        </div>
    </div>
  </div>
</div>-->
    {% include colophon.html %}

  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</body>
</div>
</html>
