<!doctype html>
<html><head>
    <!-- Meta, title, CSS, favicons, etc. -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">

#container {
  height: 400px; 
  border:;
  border-width: 20px;
  border-color: #ffffff;
}
    </style>
    <script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Monthly Average Temperature'
            },
            subtitle: {
                text: 'Source: WorldClimate.com'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Tokyo',
                data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'London',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });
    });
    

    </script>
    <link rel="stylesheet" href="/docs/bootswatch/bootstrap-cyborg.css">
    </head><body data-spy="scroll" data-target=".bs-sidebar">{% include header.html %}
    <!-- Place anything custom after this. -->
  
  

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
<!-- Subhead
================================================== -->
<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.lead }}</p>
  </div>
</div>

    <div class="container">
      <div class="row">
<!--
        <div class="col col-lg-3">
          <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                 {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                 {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                 {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                 {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                 {% include nav-customize.html %}
              {% endif %}
            </ul>
          </div>
        </div>
--> 
         {{ content }}
      </div>

      <!-- Quick back to top -->
<!--
      <a href="#" class="bs-top">
        Back to top
      </a>
-->
    </div>

    <!-- Main docs footer (social buttons, copyright, etc). -->

    {% include colophon2.html %}
    <!-- JS and analytics only. -->
    {% include footer.html %}

  
</body></html>
