<!doctype html>
<html><head>
    <!-- Meta, title, CSS, favicons, etc. -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
#container, #sliders {
  min-width: 310px; 
  max-width: 800px;
  margin: 0 auto;
}
#container {
  height: 400px; 
}
    </style>
    <script type="text/javascript">
$(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50,
                viewDistance: 25
            }
        },
        title: {
            text: 'Adding charts'
        },
        subtitle: {
            text: 'Moving on to some awesome things'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        series: [{
            data: [129.9, 71.5, 106.4, 129.2, 99.0, 176.0, 135.6, 148.5, 216.4, 15.5, 95.6, 54.4]
        }]
    });
    

    // Activate the sliders
    $('#R0').on('change', function(){
        chart.options.chart.options3d.alpha = this.value;
        showValues();
        chart.redraw(false);
    });
    $('#R1').on('change', function(){
        chart.options.chart.options3d.beta = this.value;
        showValues();
        chart.redraw(false);
    });

    function showValues() {
        $('#R0-value').html(chart.options.chart.options3d.alpha);
        $('#R1-value').html(chart.options.chart.options3d.beta);
    }
    showValues();
});
    </script>
    <link rel="stylesheet" href="/docs/bootswatch/slate.css">
    </head><body data-spy="scroll" data-target=".bs-sidebar">{% include header.html %}
    <!-- Place anything custom after this. -->
  
  

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
<!-- Subhead
================================================== -->
<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.lead }}</p>
  </div>
</div>

    <div class="container">
      <div class="row">
<!--
        <div class="col col-lg-3">
          <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                 {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                 {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                 {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                 {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                 {% include nav-customize.html %}
              {% endif %}
            </ul>
          </div>
        </div>
--> 
         {{ content }}
      </div>

      <!-- Quick back to top -->
<!--
      <a href="#" class="bs-top">
        Back to top
      </a>
-->
    </div>

    <!-- Main docs footer (social buttons, copyright, etc). -->

    {% include colophon2.html %}
    <!-- JS and analytics only. -->
    {% include footer.html %}

  
</body></html>
