<!doctype html>

<html><head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <link rel="stylesheet" href="/docs/bootswatch/bootstrap-cyborg.css">
    </head><body data-spy="scroll" data-target=".bs-sidebar">{% include header.html %}
    <!-- Place anything custom after this. -->
  
  

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
<!-- Subhead
================================================== -->
<header class="jumbotron masthead" id="overview">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.lead1 }}</p>
    <p class="lead">{{ page.lead2 }}</p>
  </div>
</header>

<!--
    <div class="bs-header">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>
-->
    <div class="container">
      <div class="row">
<!--
        <div class="col col-lg-3">
          <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                 {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                 {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                 {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                 {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                 {% include nav-customize.html %}
              {% endif %}
            </ul>
          </div>
        </div>
--> 
       <div class="col-md-12">
        <div class="update-area">
          <section id="block-block-16" class="block block-block">
            <h2>CERN Updates</h2>
          </section>
          <section id="block-views-4120d3b48fdd2fcc564776112836d0f0" class="block block-views block-updates-standard">
            <div class="view view-Homepage-updates-blocks view-id-Homepage_updates_blocks view-display-id-block_updates_standard view-dom-id-12746e1856a31537458258feac97a569">
              <div class="view-content">
                <div class="item-list">
                  <ul>
                    <li class="views-row views-row-1 views-row-odd views-row-first">
                      <a href="http://home.web.cern.ch/about/updates/2014/07/first-accelerator-based-physics-2014">First accelerator-based physics of 2014</a>
                      <span class="field-content">21 July</span>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <a href="http://home.web.cern.ch/about/updates/2014/07/jamming-cosmos-cern-and-music-physics">Jamming with the cosmos: CERN and the music of physics</a>
                      <span class="field-content">16 July</span>
                    </li>
                    <li class="views-row views-row-3 views-row-odd views-row-last">
                      <a href="http://home.web.cern.ch/about/updates/2014/07/results-cern-presented-ichep-spain">Results from CERN presented at ICHEP in Spain</a>
                      <span class="field-content">7 July</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="more-link">
                <a href="http://home.web.cern.ch/about/updates"> Past updates </a>
              </div>
            </div>
          </section>
          <section id="block-search-form" class="block block-search">
            <form id="search-block-form" class="search-form" accept-charset="UTF-8" method="post" action="/" target="_self">
          </section>
          <section id="block-block-22" class="block block-block update-promo">
            <p>
            <a title="The CERN 60 site" href="http://cern.ch/cern60/">
              <img src="/img/cern-60.png" alt="60 years CERN">
            </a>
            </p>
            CERN is celebrating its 60th anniversary this year! For all the latest on celebrations near you, keep checking the
            <a title="The CERN 60 site" href="http://cern.ch/cern60/">CERN 60</a>
            website.
            </p>
          </section>
      </div>
    </div>
  </div>

      <!-- Quick back to top -->
<!--
      <a href="#" class="bs-top">
        Back to top
      </a>
-->
    </div>
<hr>
    <!-- Main docs footer (social buttons, copyright, etc). -->

    <div class="row clearfix">
    <div class="col-md-12 column" style="margin-left: 130px;">
      <div class="row clearfix">
        <div class="col-md-4 column">
    <!-- JS and analytics only. -->
          {% include footer2.html %} 

        </div>
        <div class="col-md-4 column">
          {% include footer3.html %}
        </div>
        <div class="col-md-4 column">
        {% include footer4.html %}
        </div>
    </div>
  </div>

</div>
    {% include colophon.html %}  

    <!-- JS and analytics only. -->

  
</body></html>
